*
!*.gitignore
!*.sln
!*.editorconfig
!pre-commit
!ParserApp/
!ParserApp/**
!ParserLib/
!ParserLib/**
!pdfs/
!pdfs/**
!README.md
!kурсачCompiler/
!kурсачCompiler/**

.vs
.vscode
obj
bin
*.csproj.user
kурсачCompiler/*.exe
kурсачCompiler/*.js
kурсачCompiler/*.o
kурсачCompiler/*.rtf
kурсачCompiler/temp.data
kурсачCompiler/simple.pegjs
